@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard">
    <div class="main-block">
        <header class="header">
            <h3>Home</h3>
            <h1>Welcome, User Name</h1>
        </header>
        <div class="statistics-wrapper"></div>
    </div>
    <aside class="aside-block">
        <div class="project-block">
            <div class="heading-wrapper">
                <h2 class="heading">My projects</h2>
                <div class="counter">3</div>
            </div>
            <div class="project-list">
                <div class="project">
                    <div class="project-info">
                        <img 
                            class="project-avatar" 
                            src="~/assets/project-icon.svg" 
                            alt="Project placeholder"
                        >
                        <div class="project-wrapper">
                            <div class="project-name-wrapper">
                                <div class="project-name">Some project1</div>
                                <div class="teams">2 teams</div>
                            </div>
                            <a class="view-more">View more information</a>
                        </div>
                    </div>
                    <div class="actions">
                        <button class="team-button">
                            <img 
                                class="team-icon" 
                                src="~/assets/team-icon.svg" 
                                alt="Team icon"
                            >
                        </button>
                        <button class="options-button">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </button>
                    </div>
                </div>
                <div class="project">
                    <div class="project-info">
                        <img 
                            class="project-avatar" 
                            src="~/assets/project-icon.svg" 
                            alt="Project placeholder"
                        >
                        <div class="project-wrapper">
                            <div class="project-name-wrapper">
                                <div class="project-name">Some project1</div>
                                <div class="teams">2 teams</div>
                            </div>
                            <a class="view-more">View more information</a>
                        </div>
                    </div>
                    <div class="actions">
                        <button class="team-button">
                            <img 
                                class="team-icon" 
                                src="~/assets/team-icon.svg" 
                                alt="Team icon"
                            >
                        </button>
                        <button class="options-button">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </button>
                    </div>
                </div>
                <div class="project">
                    <div class="project-info">
                        <img 
                            class="project-avatar" 
                            src="~/assets/project-icon.svg" 
                            alt="Project placeholder"
                        >
                        <div class="project-wrapper">
                            <div class="project-name-wrapper">
                                <div class="project-name">Some project1</div>
                                <div class="teams">2 teams</div>
                            </div>
                            <a class="view-more">View more information</a>
                        </div>
                    </div>
                    <div class="actions">
                        <button class="team-button">
                            <img 
                                class="team-icon" 
                                src="~/assets/team-icon.svg" 
                                alt="Team icon"
                            >
                        </button>
                        <button class="options-button">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>