@{
    ViewData["Title"] = "Employees";
}

<div class="employees">
    <header class="header-wrapper">
        <div class="header">
            <div class="heading-wrapper">
                <h1 class="heading">Employees</h1>
                <div class="counter-indicator">61</div>
            </div>
            <button class="add-button">
                <div class="button-label">Add</div>
                <img
                    class="button-icon" 
                    src="~/assets/add-icon.svg" 
                    alt="Add plus icon"
                >
            </button>
            <div class="search">
                <input
                    class="search-input"
                    type="text"
                    placeholder="Search"
                    name="search">
                <button class="search-button">
                    <img 
                        class="search-icon" 
                        src="~/assets/search-icon.svg" 
                        alt="Search icon"
                    >
                </button>
            </div>
        </div>
    </header>
    <div class="content">
        <table class="employee-table">
            <tr class="table-head">
                <th class="user-heading">Employee</th>
                <th>E-mail</th>
                <th>Project</th>
                <th>Team</th>
                <th>Position</th>
                <th>Salary</th>
                <th></th>
            </tr>
            <tr class="table-body">
                <td class="user">
                    <img
                        class="user-avatar"
                        src="~/assets/user-avatar.svg"
                        alt="User avatar placeholder">
                    <div class="user-name">User name</div>
                </td>
                <td class="table-content email">example@organisation.com</td>
                <td class="table-content project">Some project1</td>
                <td class="table-content team">Team1</td>
                <td class="table-content position">Designer</td>
                <td class="table-content salary">1000 $</td>
                <td class="options-block">
                    <button class="options-button">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </button>
                </td>
            </tr>
            <tr class="table-body" aria-label="employees-table">
                <td class="user">
                    <img
                        class="user-avatar"
                        src="~/assets/user-avatar.svg"
                        alt="User avatar placeholder">
                    <div class="user-name">User name</div>
                </td>
                <td class="table-content email">example@organisation.com</td>
                <td class="table-content project">Some project1</td>
                <td class="table-content team">Team1</td>
                <td class="table-content position">Designer</td>
                <td class="table-content salary">1000 $</td>
                <td class="options-block">
                    <button class="options-button">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </button>
                </td>
            </tr>
            <tr class="table-body">
                <td class="user">
                    <img
                        class="user-avatar"
                        src="~/assets/user-avatar.svg"
                        alt="User avatar placeholder">
                    <div class="user-name">User name</div>
                </td>
                <td class="table-content email">example@organisation.com</td>
                <td class="table-content project">Some project1</td>
                <td class="table-content team">Team1</td>
                <td class="table-content position">Designer</td>
                <td class="table-content salary">1000 $</td>
                <td class="options-block">
                    <button class="options-button">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </button>
                </td>
            </tr>
            <tr class="table-body">
                <td class="user">
                    <img
                        class="user-avatar"
                        src="~/assets/user-avatar.svg"
                        alt="User avatar placeholder">
                    <div class="user-name">User name</div>
                </td>
                <td class="table-content email">example@organisation.com</td>
                <td class="table-content project">Some project1</td>
                <td class="table-content team">Team1</td>
                <td class="table-content position">Designer</td>
                <td class="table-content salary">1000 $</td>
                <td class="options-block">
                    <button class="options-button">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </button>
                </td>
            </tr>
            <tr class="table-body">
                <td class="user">
                    <img
                        class="user-avatar"
                        src="~/assets/user-avatar.svg"
                        alt="User avatar placeholder">
                    <div class="user-name">User name</div>
                </td>
                <td class="table-content email">example@organisation.com</td>
                <td class="table-content project">Some project1</td>
                <td class="table-content team">Team1</td>
                <td class="table-content position">Designer</td>
                <td class="table-content salary">1000 $</td>
                <td class="options-block">
                    <button class="options-button">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
