@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard">
    <div class="block">
        <header class="header">
            <h3>Home</h3>
            <h1>Welcome, User Name</h1>
        </header>
        <div class="blocks">
            <div class="first-row">
                <div class="content-block my-projects">
                    <div class="block-heading">
                        <h2 class="heading project-heading">My projects</h2>
                        <div class="counter project-counter">1</div>
                    </div>
                    <div class="project">
                        <img
                            class="project-avatar"
                            src="~/assets/project-avatar.svg"
                            alt="Icon for project">
                        <div class="project-content">
                            <div class="project-name-wrapper">
                                <div class="project-name">Employeest project</div>
                                <div class="teams-label">5 teams</div>
                            </div>
                            <a class="more-info">View more information</a>
                        </div>
                    </div>
                </div>
                <div class="content-block my-team">
                    <div class="block-heading">
                        <h2 class="heading project-heading">My team</h2>
                        <div class="counter project-counter">5</div>
                    </div>
                    <div class="team-list-wrapper">
                        <div class="team-list">
                            <div class="member-body">
                                <img
                                    class="member-avatar"
                                    src="~/assets/team-member-avatar.svg"
                                    alt="">
                                <div class="member-content">
                                    <div class="name-wrapper">
                                        <div class="member-name">Full name</div>
                                        <div class="position">Position</div>
                                    </div>
                                    <a class="view-profile-link">View profile</a>
                                </div>
                            </div>
                            <div class="member-body">
                                <img
                                    class="member-avatar"
                                    src="~/assets/team-member-avatar.svg"
                                    alt="">
                                <div class="member-content">
                                    <div class="name-wrapper">
                                        <div class="member-name">Full name</div>
                                        <div class="position">Position</div>
                                    </div>
                                    <a class="view-profile-link">View profile</a>
                                </div>
                            </div>
                        </div>
                        <a class="watch-more">Watch more</a>
                    </div>
                </div>
            </div>
            <div class="second-row">
                <div class="content-block statistics">
                    <div class="block-heading">
                        <h2 class="heading statistics-heading">Statistics</h2>
                        <div class="statistics-label">Working hours per day</div>
                    </div>
                    <div class="stat-block"></div>
                </div>
                
            </div>
        </div>
    </div>
    <aside class="aside-block">
        <div class="tasks-block">
            <div class="tasks-heading-wrapper">
                <h2 class="tasks-heading">My tasks</h2>
                <div class="date-switcher">
                    <button class="switch-button left-switch-button">
                        <img class="switch-arrow" 
                             src="~/assets/left-arrow.svg" 
                             alt="Left arrow"
                        >
                    </button>
                    <div class="day-label">Today</div>
                    <button class="switch-button right-switch-button">
                        <img 
                            class="switch-arrow" 
                            src="~/assets/right-arrow.svg" 
                            alt="Right arrow"
                        >
                    </button>
                </div>
            </div>
            <div class="task-list">
                <div class="task">
                    <div class="task-name-wrapper">
                        <div class="task-indicator"></div>
                        <div class="task-name">Task</div>
                    </div>
                    <div class="functionality-wrapper">
                        <button class="start-task-button">
                            Start task
                        </button>
                        <button class="options-button">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </button>
                    </div>
                </div>
                <div class="task">
                    <div class="task-name-wrapper">
                        <div class="task-indicator"></div>
                        <div class="task-name">Task</div>
                    </div>
                    <div class="functionality-wrapper">
                        <button class="start-task-button">
                            Start task
                        </button>
                        <button class="options-button">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </button>
                    </div>
                </div>
                <div class="task">
                    <div class="task-name-wrapper">
                        <div class="task-indicator"></div>
                        <div class="task-name">Task</div>
                    </div>
                    <div class="functionality-wrapper">
                        <button class="start-task-button">
                            Start task
                        </button>
                        <button class="options-button">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </button>
                    </div>
                </div>
                <div class="task">
                    <div class="task-name-wrapper">
                        <div class="task-indicator"></div>
                        <div class="task-name">Task</div>
                    </div>
                    <div class="functionality-wrapper">
                        <button class="start-task-button">
                            Start task
                        </button>
                        <button class="options-button">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </button>
                    </div>
                </div>
                <div class="task">
                    <div class="task-name-wrapper">
                        <div class="task-indicator"></div>
                        <div class="task-name">Task</div>
                    </div>
                    <div class="functionality-wrapper">
                        <button class="start-task-button">
                            Start task
                        </button>
                        <button class="options-button">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>
